    {% extends "base.html" %}
    {% load static %}  
        {% block content %}
        <div class="container">
        <div class="form-container">
            <form method="POST" class="d-flex flex-column">
              {% csrf_token %}
              <span> Room Name</span>
              <input type="text" id="name" name="name" style="max-width: 30%;">
              <span> Room description</span>
              <input type="text" id="description" name="description" style="max-width: 30%;">
              <span> Room Members</span>
              <input type="text" id="users" name="users" style="max-width: 30%;">
              <input type="submit" value="submit " style="max-width: 20%;">
            </form>
        </div>
        <div class="content">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Room Name</th>
                        <th>UUID</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
<td>1</td>
                    <td>Domenic</td>
                    <td>88110</td>
                    <td>dcode</td>
                </tr> -->
                {% for room in rooms %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="row">
                    {% endif %}
                    <tr><a href="{% url 'get_room' roomuuid=room.room.roomuuid %}">{{ room.room.roomuuid }}</a>
                        <td><a href="{% url 'get_room' roomuuid=room.room.roomuuid %}">{{ room.room.name }}</a></td>
                        <td><a href="{% url 'get_room' roomuuid=room.room.roomuuid %}">{{ room.room.roomuuid }}</a></td>
                        <td>{{ room.room.description }}</td>
                    </tr>

                    {% if forloop.counter|divisibleby:3 or forloop.last %}
            </tbody>
        </table>
        
    </div>
    </div>
            {% endif %}
        {% endfor %}
    {% endblock %}    